@model SpadStorePanel.Web.ViewModels.RegisterCustomerViewModel
@{
    ViewBag.Title = "ثبت نام";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = "~/Views/Shared/LayoutClient.cshtml";
}


@*<!-- breadcrumb area start -->
    <section class="breadcrumb-area breadcrumb-bg extra">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-inner">
                        <!-- breadcrumb inner -->
                        <div class="left-content-area">
                            <!-- left content area -->
                            <h1 class="title">ثبت نام</h1>
                        </div><!-- //. left content area -->
                        <div class="right-content-area">
                            <ul>
                                <li><a href="index.html">خانه</a></li>
                                <li>ثبت نام</li>
                            </ul>
                        </div>
                    </div><!-- //. breadcrumb inner -->
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb area end -->


    @if (!string.IsNullOrEmpty(ViewBag.LoginError))
    {
        <div class="container margin-top-50">
            <div class="row">
                <div class="col-lg-12">
                    <div class="alert alert-warning">
                        <span class="text-danger">@ViewBag.LoginError</span>
                    </div>
                </div>
            </div>
        </div>
    }
    <div class="login-page-content-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="signup-page-wrapper">
                        <!-- login page wrapper -->
                        <div class="or">
                            <span>یا</span>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 padding-right-0">
                                <div class="left-content-area signup-bg">
                                    <div class="img-wrapper">
                                        <a href="/Customer/Auth/Login" class="boxed-btn">ورود به حساب</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="right-contnet-area">
                                    <div class="top-content">
                                        <h4 class="title"> ثبت نام کنید</h4>
                                        <p>
                                            شما میتوانید به راحتی در سایت اورجینال ثبت نام کنید
                                        </p>
                                    </div>
                                    <div class="bottom-content">
                                        @using (Html.BeginForm("Register", "Auth", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @id = "form", @class = "login-form", role = "form" }))
                                        {
                                            @Html.AntiForgeryToken()
                                            <div class="form-element">
                                                @Html.TextBoxFor(m => m.FirstName, new { @class = "input-field", placeholder = "نام خود را وارد کنید", autocomplete = "off" })
                                                @Html.ValidationMessageFor(m => m.FirstName, "")
                                            </div>
                                            <div class="form-element">
                                                @Html.TextBoxFor(m => m.LastName, new { @class = "input-field", @placeholder = "نام خانوادگی خود را وارد کنید", autocomplete = "off" })
                                                @Html.ValidationMessageFor(m => m.LastName, "")
                                            </div>
                                            <div class="form-element">
                                                @Html.TextBoxFor(m => m.UserName, new { @class = "input-field", @placeholder = "نام کاربری خود را وارد کنید", autocomplete = "off" })
                                                @Html.ValidationMessageFor(m => m.UserName, "")
                                            </div>
                                            <div class="form-element">
                                                @Html.TextBoxFor(m => m.Email, new { @class = "input-field", @placeholder = "ایمیل خود را وارد کنید", autocomplete = "off" })
                                                @Html.ValidationMessageFor(m => m.Email, "")
                                            </div>
                                            <div class="form-element">
                                                @Html.TextBoxFor(m => m.Password, new { @class = "input-field", @placeholder = "رمز عبور خود را وارد کنید", @type = "Password", autocomplete = "off" })
                                                @Html.ValidationMessageFor(m => m.Password, "")
                                            </div>
                                            <div class="form-element">
                                                @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "input-field", @placeholder = "تکرار رمز عبور خود را وارد کنید", @type = "Password", autocomplete = "off" })
                                                @Html.ValidationMessageFor(m => m.ConfirmPassword, "")
                                            </div>
                                            <div class="btn-wrapper d-flex justify-content-center">
                                                <button type="submit" class="submit-btn">ثبت نام</button>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- //.login page wrapper -->
                </div>
            </div>
        </div>
    </div>*@


@*<main class="main">
        <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
            <div class="container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="~/home">خانه</a></li>
                    <li class="breadcrumb-item"><a href="#">صفحات</a></li>
                    <li class="breadcrumb-item active" aria-current="page"> ثبت نام</li>
                </ol>
            </div><!-- End .container -->
        </nav><!-- End .breadcrumb-nav -->

        <div class="login-page bg-image pt-8 pb-8 pt-md-12 pb-md-12 pt-lg-17 pb-lg-17"
             style="background-image: url(/Content/client/pic/bgmedi2.jpg)">
            <div class="container">
                @if (!string.IsNullOrEmpty(ViewBag.LoginError))
                {
                    <div class="container margin-top-50">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="alert alert-warning">
                                    <span class="text-danger">@ViewBag.LoginError</span>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                <div class="form-box">

                    <div class="tab-pane ade show active" id="register-2" role="tabpanel"
                         aria-labelledby="register-tab-2">
                        @using (Html.BeginForm("Register", "Auth", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @id = "form", @class = "login-form", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="form-group">
                                <label for="register-email-2">نام کاربری *</label>
                                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "نام کاربری انتخابی خود را وارد کنید", autocomplete = "off" })
                                @Html.ValidationMessageFor(m => m.UserName, "")
                            </div><!-- End .form-group -->

                            <div class="form-group">
                                <label for="register-email-2">آدرس ایمیل شما *</label>
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "ایمیل خود را وارد کنید", autocomplete = "off", @type = "email" })
                                @Html.ValidationMessageFor(m => m.Email, "")
                            </div><!-- End .form-group -->

                            <div class="form-group">
                                <label for="register-password-2">رمز عبور *</label>
                                @Html.TextBoxFor(m => m.Password, new { @class = "form-control", @placeholder = "رمز عبور خود را وارد کنید", @type = "Password", autocomplete = "off" })
                                @Html.ValidationMessageFor(m => m.Password, "")
                            </div><!-- End .form-group -->

                            <div class="form-group">
                                <label for="register-password-2">تکرار رمز عبور *</label>
                                @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "تکرار رمز عبور خود را وارد کنید", @type = "Password", autocomplete = "off" })
                                @Html.ValidationMessageFor(m => m.ConfirmPassword, "")
                            </div><!-- End .form-group -->

                            <div class="form-footer">
                                <button type="submit" class="btn btn-outline-primary-2 ml-3">
                                    <span>ثبت نام</span>
                                    <i class="icon-long-arrow-left"></i>
                                </button>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input"
                                           id="register-policy-2" required>
                                    <label class="custom-control-label" for="register-policy-2">
                                        من با <a href="#" class="text-dark">قوانین و مقررات</a> موافقم *
                                    </label>
                                </div><!-- End .custom-checkbox -->
                            </div><!-- End .form-footer -->

                            <br>
                            <br>

                            <div class="form-footer">
                                <a class="btn btn-outline-primary-2 ml-12 col-12" href="/Customer/Auth/Login">
                                    ورود
                                </a>
                            </div><!-- End .form-footer -->
                        }
                    </div><!-- .End .tab-pane -->
                </div><!-- End .form-box -->
            </div><!-- End .container -->
        </div><!-- End .login-page section-bg -->
    </main><!-- End .main -->*@


@*<!-- start page-title -->
    <section class="page-title">
        <div class="container">
            <div class="row">
                <div class="col col-xs-12">
                    <h2>@ViewBag.Title</h2>
                </div>
            </div> <!-- end row -->
        </div> <!-- end container -->
    </section>
    <!-- end page-title -->
    <!-- start blog-single-section -->
    <section class="form-section">
        <div class="container">
            <div class="row">
                <div class="col col-md-8 col-md-offset-2">
                    @if (!string.IsNullOrEmpty(ViewBag.LoginError))
                    {
                        <div class="container margin-top-50">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="alert alert-warning">
                                        <span class="text-danger">@ViewBag.LoginError</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="comment-respond form-box">
                        <h3 class="form-title">ثبت نام</h3>
                        @using (Html.BeginForm("Register", "Auth", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @id = "form", @class = "comment-form", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="recruitment-form">
                                <div class="flex-form-login">
                                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "نام کاربری", autocomplete = "off" })
                                    @Html.ValidationMessageFor(m => m.UserName, "")
                                </div>
                                <div class="flex-form-login">
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "ایمیل", autocomplete = "off", @type = "email" })
                                    @Html.ValidationMessageFor(m => m.Email, "")
                                </div>
                                <div class="flex-form-login">
                                    @Html.TextBoxFor(m => m.Password, new { @class = "form-control", @placeholder = "رمز عبور", @type = "Password", autocomplete = "off" })
                                    @Html.ValidationMessageFor(m => m.Password, "")
                                </div>
                                <div class="flex-form-login">
                                    @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "تکرار رمز عبور", @type = "Password", autocomplete = "off" })
                                    @Html.ValidationMessageFor(m => m.ConfirmPassword, "")
                                </div>
                            </div>

                            <div class="form-submit btn-form">
                                <input id="submit" value="ثبت نام" type="submit">
                            </div>
                        }

                        <div class="recruitment-form form-link">
                            <div class="flex-form">
                                <a href="Admin/Customer/Auth/Login">حساب کاربری دارم</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div> <!-- end container -->
    </section>
    <!-- end blog-single-section -->*@


<div id="test-popup2" class="white-popup lr-popup text-center">
    <h4>ثبت نام</h4>
    @using (Html.BeginForm("Register", "Auth", new { area = "Customer" }, FormMethod.Post, new { @id = "form", @class = "subscribe-popup-form", role = "form" }))
    {
        @Html.AntiForgeryToken()

        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "نام کاربری خود را وارد کنید", autocomplete = "off" })
        @Html.ValidationMessageFor(m => m.UserName, "")

        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "ایمیل خود را وارد کنید", autocomplete = "off", @type = "email" })
        @Html.ValidationMessageFor(m => m.Email, "")

        @Html.TextBoxFor(m => m.Password, new { @class = "form-control", @placeholder = "رمز عبور خود را وارد کنید", @type = "Password", autocomplete = "off" })
        @Html.ValidationMessageFor(m => m.Password, "")

        @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "تکرار رمز عبوررمز عبور خود را وارد کنید", @type = "Password", autocomplete = "off" })
        @Html.ValidationMessageFor(m => m.ConfirmPassword, "")

        <div class="form-check">
            <label>
                تمام شرایط و قوانین را میپذیرم
                <input class="defult-check" type="checkbox" checked="checked" disabled />
                <span class="checkmark"></span>
            </label>
        </div>
        <button class="btn btn-primary" title="Subscribe" type="submit">
            ثبت نام
        </button>
    }
<h6 style="margin-top:50px">حساب کاربری دارید؟</h6>
<a href="/Customer/Auth/Login" class="sign-up">برای ورود کلیک کنید</a>
</div>


<style>
    .field-validation-error span {
        color: darkred;
    }
</style>
<script>
    $.validator.unobtrusive.parse("#form");
</script>
@section script {
    @Scripts.Render("~/bundles/jqueryval")
}
