@model SpadStorePanel.Web.ViewModels.ResetMyPasswordViewModel

@{
    ViewBag.Title = "تغییر رمز عبور";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    if (ViewBag.Message != null)
    {
        <div class="alert alert-danger">
            <strong>خطا!</strong> @ViewBag.Message
        </div>
    }
}
@*<div class="col-lg-12">
    <div class="card card-custom gutter-b">
        @using (Html.BeginForm("ResetMyPassword", "Dashboard", FormMethod.Post, new { id = "form" }))
        {
            @Html.AntiForgeryToken()

            <div class="card-body">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <input type="hidden" name="UserId" id="UserId" value="@ViewBag.UserId" />
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            @Html.LabelFor(model => model.OldPassword, new { })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.OldPassword, new { htmlAttributes = new { @class = "form-control " } })
                                @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "form-text text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Password, new { })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control " } })
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "form-text text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.ConfirmPassword, new { })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control " } })
                                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "form-text text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <input type="submit" value="ثبت" class="btn btn-primary mr-2" />
            </div>
        }
    </div>
</div>*@



<!-- start page-title -->
<section class="page-title">
    <div class="container">
        <div class="row">
            <div class="col col-xs-12">
                <h2>@ViewBag.Title</h2>
            </div>
        </div> <!-- end row -->
    </div> <!-- end container -->
</section>
<!-- end page-title -->
<!-- start blog-single-section -->
<section class="form-section">
    <div class="container">
        <div class="row">
            <div class="col col-md-8 col-md-offset-2">
                @if (!string.IsNullOrEmpty(ViewBag.LoginError))
                {
                    <div class="container margin-top-50">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="alert alert-warning">
                                    <span class="text-danger">@ViewBag.LoginError</span>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                <div class="comment-respond form-box">
                    <h3 class="form-title">ثبت نام</h3>

                    @using (Html.BeginForm("ResetMyPassword", "Auth", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @id = "form", @class = "comment-form", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                <div class="recruitment-form">

                    <div class="flex-form-login">
                        @*<input placeholder="رمز عبور" type="password">*@
                        @Html.EditorFor(model => model.OldPassword, new { htmlAttributes = new { @class = "form-control ", @placeholder = "رمز عبور قدیمی", @type = "Password", autocomplete = "off" } })
                        @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "" })
                    </div>
                    <div class="flex-form-login">
                        @*<input placeholder="رمز عبور" type="password">*@
                        @Html.TextBoxFor(m => m.Password, new { @class = "form-control", @placeholder = "رمز عبور جدید", @type = "Password", autocomplete = "off" })
                        @Html.ValidationMessageFor(m => m.Password, "")
                    </div>
                    <div class="flex-form-login">
                        @*<input placeholder="تکرار رمز عبور" type="password">*@
                        @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "تکرار رمز عبور جدید", @type = "Password", autocomplete = "off" })
                        @Html.ValidationMessageFor(m => m.ConfirmPassword, "")
                    </div>
                </div>

                        <div class="form-submit btn-form">
                            <input id="submit" value="ثبت" type="submit">
                        </div>
                    }
                    <div class="recruitment-form form-link">
                        <div class="flex-form">
                            <a href="Customer/Auth/Login">بازگشت به صفحه ورود</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div> <!-- end container -->
</section>
<!-- end blog-single-section -->




<script>
    $.validator.unobtrusive.parse("#form");
</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        new KTImageInput('user-avatar');
    </script>
}

