@model SpadStorePanel.Web.ViewModels.HeaderShareSectionViewModel
@using Microsoft.AspNet.Identity

<header>
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <ul class="header_list row">
                        <li class="col-12">
                            @if (User.Identity.GetUserName() != "")
                            {

                                using (Html.BeginForm("LogOff", "Auth", new { area = "Customer" }, FormMethod.Post, null))
                                {
                                <div class="col-md-12">
                                    <span style="color:white;">@User.Identity.GetUserName()</span>
                                    <button type="submit" class="btn text-white  btn-sm d-inline" style="background-color:red;">خروج</button>
                                </div>
                                }
                            }
                            @*else if (Model.Error != null)
                                {
                                    <span style="background-color:red; width: 100px">@Model.Error</span>
                                    <a href="#test-popup1" ifass="open-popup-link">ورود</a>
                                }*@
                            else
                            {
                                <a href="/Customer/Auth/Login" class="">ورود</a>
                            }
                            @*@Html.Action("LoginSection", "Home")*@
                            @*@Html.Action("RegisterSection","Home")*@
                        </li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul class="header_list float-left d-flex align-items-center justify-content-center">

                        <li>
                            <a class="d-flex align-items-center justify-content-center" href="mailto:@Model.Email.ShortDescription">
                                <i class="fa fa-envelope-o m-0 "></i>@Model.Email.ShortDescription
                            </a>
                        </li>
                        <li>
                            <a class="d-flex align-items-center justify-content-center" href="tel:@Model.Phone.ShortDescription">
                                @Model.Phone.ShortDescription<i class="fa fa-phone m-0 mr-1"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="header-mdl">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="hm-inner d-sm-flex align-items-center justify-content-between">
                        <div class="header-logo">
                            <a href="index.html"><img src="~/pic/logo-header.png" alt="logo" /></a>
                        </div>
                        @using (Html.BeginForm("Search", "Shop", FormMethod.Post, new { @class = "header-form" }))
                        {
                            <input class="search-box" placeholder="جستجو..." required value="" type="search" name="search" />
                            <button type="submit">جستجو</button>
                        }
                        @*<form class="header-form">
            <input class="search-box" placeholder="جستجو..." required value="" type="search" />
            <button type="submit">جستجو</button>
        </form>*@
                        <div class="header-logo">
                            <a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="لیست علاقه مندی ها">
                                <i class="ion-android-favorite"></i>
                            </a>
                            @*<a href="index.html"><img src="~/pic/logo-header.png" alt="logo" /></a>*@
                        </div>
                        @Html.Action("CartSection", "Cookie")
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-btm">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <div class="header-logo">
                            <a href="#"><img src="~/asset/image/logo.png" alt="logo" /></a>
                        </div>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav">
                                <li class="nav-item ">
                                    @Html.ActionLink("صفحه اصلی", "Index", "Home", null, new { @class = "nav-link" })
                                </li>
                                <li class="nav-item">
                                    @Html.ActionLink("فروشگاه", "Index", "Shop", null, new { @class = "nav-link" })
                                </li>
                                <li class="nav-item">
                                    @Html.ActionLink("وبلاگ", "Index", "Blog", null, new { @class = "nav-link" })
                                </li>
                                <li class="nav-item">
                                    @Html.ActionLink("درباره ما", "About", "Home", null, new { @class = "nav-link" })
                                </li>
                                <li class="nav-item active">
                                    @Html.ActionLink("ارتباط با ما", "Index", "ContactUs", null, new { @class = "nav-link" })
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>
