@model SpadStorePanel.Web.ViewModels.RegisterViewModel

<div id="test-popup2" class="white-popup lr-popup mfp-hide">
    <h4>ثبت نام</h4>
    @using (Html.BeginForm("Register", "Auth", new { area = "Customer" }, FormMethod.Post, new { @id = "form", @class = "subscribe-popup-form", role = "form" }))
    {
        @Html.AntiForgeryToken()

        @Html.TextBoxFor(x => x.Email, null, new { @name = "email", @type = "email", @placeholder = "ایمیل خود را وارد کنید" })
        @Html.ValidationMessageFor(m => m.Email, "")

        @Html.TextBoxFor(x => x.Password, null, new { @type = "password", @placeholder = "رمز عبور خود را وارد کنید" })
        @Html.ValidationMessageFor(m => m.Password, "")

        @Html.TextBoxFor(x => x.ConfirmPassword, null, new { @type = "password", @placeholder = "رمز عبور خود را وارد کنید" })
        @Html.ValidationMessageFor(m => m.ConfirmPassword, "")

        <div class="form-check">
            <label>
                تمام شرایط و قوانین را میپذیرم
                <input class="defult-check" type="checkbox" checked="checked" disabled />
                <span class="checkmark"></span>
            </label>
        </div>
        <button class="btn btn-primary" title="Subscribe" type="submit">
            ثبت نام
        </button>
    }
    @*<form class="subscribe-popup-form" method="post" action="#">
            <input name="input" required type="input" placeholder="نام خود را وارد کنید" />
            <input name="email" required type="email" placeholder="ایمیل خود را وارد کنید" />
            <input name="password" required type="password" placeholder="رمز عبور خود را وارد کنید" />
            <input name="password" required type="password" placeholder="تکرار دوباره رمز عبور" />
            <div class="form-check">
                <label>
                    تمام شرایط و قوانین را میپذیرم
                    <input class="defult-check" type="checkbox" checked="checked" />
                    <span class="checkmark"></span>
                </label>
            </div>
            <button class="btn btn-primary" title="Subscribe" type="button">
                ثبت نام
            </button>
        </form>*@
</div>

<style>
    .field-validation-error span {
        color: darkred;
    }
</style>
<script>
    $.validator.unobtrusive.parse("#form");
</script>
@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
