@model SpadStorePanel.Web.ViewModels.CartModel
@{
    ViewBag.Title = "سبد خرید";
    Layout = "~/Views/Shared/LayoutClient.cshtml";
}
@*<div class="contant">
        <div id="banner-part" class="banner inner-banner">
            <div class="container">
                <div class="bread-crumb-main">
                    <h1 class="banner-title">سبد خرید</h1>
                    <div class="breadcrumb">
                        <ul class="inline">
                            <li><a href="/">خانه</a></li>
                            <li>سبد خرید</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="ptb-100">
            <div id="CartTable">
                @Html.Action("CartTable", "Shop", new { area = "" })
            </div>
        </div>
    </div>*@


@*<main class="main">
    <div class="page-header text-center" style="background-image: url('/Files/StaticContentImages/Image/@ViewBag.BanerImage')">
        <div class="container">
            <h1 class="page-title">@ViewBag.Title<span>فروشگاه</span></h1>
        </div><!-- End .container -->
    </div><!-- End .page-header -->
    <nav aria-label="breadcrumb" class="breadcrumb-nav">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">خانه</a></li>
                <li class="breadcrumb-item"><a href="/shop">فروشگاه</a></li>
                <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

    <div class="page-content">
        <div class="cart" id="CartTable">
            @Html.Action("CartTable", "Shop", new { area = "" })
        </div><!-- End .cart -->
    </div><!-- End .page-content -->
</main><!-- End .main -->*@


@Html.Action("HeaderShareSection", "Home")
<!-- Start Breadcrumbs Section -->
<section class="breadcrumbs-section background_bg" data-img-src="/pic/about_us2.jpg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="page_title text-center">
                    <h1>@ViewBag.Title</h1>
                    <ul class="breadcrumb justify-content-center">
                        <li><a href="/">صفحه اصلی</a></li>
                        <li><a href="/Shop">فروشگاه</a></li>
                        <li><span>@ViewBag.Title</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Header Section -->
<!-- Start Cart Section -->
<div class="container" id="CartTable">
    @Html.Action("CartTable", "Shop", new { area = "" })
</div>
    <!-- End Cart Section -->
    <!-- Start Cart Box Section -->

