@model SpadStorePanel.Web.ViewModels.ProductListViewModel
@{
    ViewBag.Title = "فروشگاه";
    Layout = "~/Views/Shared/LayoutClient.cshtml";
}

@Html.Action("HeaderShareSection", "Home")
<!-- Start Breadcrumbs Section -->
<section class="breadcrumbs-section background_bg" data-img-src="/Files/StaticContentImages/Image/@ViewBag.HeaderImage">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page_title text-center">
                    <h1>@ViewBag.Title</h1>
                    <ul class="breadcrumb justify-content-center">
                        <li><a href="/">صفحه اصلی</a></li>
                        <li><a href="#">@ViewBag.Title</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Start Shop Section -->
<section class="pt_large pb_large shop-inner-section">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 col-lg-8 col-md-12">
                <div class="shop-options d-sm-flex justify-content-between align-items-center">
                    <div class="sorting-option">
                        <select class="sorting-items" onchange="GetGrid()" name="sort" id="sort">
                            <option value="date" selected="selected">مرتب کردن بر اساس تاریخ ثبت</option>
                            <option value="name">مرتب کردن بر اساس اسم محصول</option>
                            <option value="price-high-to-low">مرتب کردن بر اساس قیمت از زیاد به کم</option>
                            <option value="price-low-to-high">مرتب کردن بر اساس قیمت از کم به زیاد</option>
                            <option value="sale">مرتب کردن بر اساس پر فروش ها</option>
                        </select>
                    </div>
                    @*<div class="showing-items">
                            <p>نمایش نتایج</p>
                        </div>
                        <div class="shop-list_grid">
                            <div class="list_grid-btns">
                                <a href="javascript:void(0)" class="list-view"><i class="ion-navicon-round"></i></a>
                                <a href="javascript:void(0)" class="grid-view on"><i class="ion-grid"></i></a>
                            </div>
                        </div>*@
                </div>

                <!--Start Product Grid-->
                <div id="grid">


                </div>
                <!--End Product Grid-->

            </div>
            <div class="col-xl-3 col-lg-4 col-md-12 order-lg-first">
                <div class="shop-sidebar">
                    @Html.Action("CategorySection", "Shop")
                    <div class="side-filter-box side-box">
                        <div class="side-box-title">
                            <h6>فیلترکردن</h6>
                        </div>
                        <div class="filter-box-detail">
                            <div id="slider-range"></div>
                            <div class="price_slider_amount">
                                <div class="slider-values d-flex align-items-center">
                                    <p>قیمت</p>
                                    <input type="text" id="amount" name="price" placeholder="قیمت موردنظر را وارد کنید" />

                                </div>
                                <button type="button" class="btn btn-sm btn-info text-white btn-block mt-2" onclick="GetGrid()" id="setPrice">اعمال فیلتر قیمت بر کل محصولات</button>
                                @if (@Request.Url.AbsoluteUri.ToString().EndsWith("hop") || @Request.Url.AbsoluteUri.ToString().EndsWith("hop#"))
                                {
                                    <a href='#' onclick='location.reload(true); return false;' class="btn btn-sm btn-info text-white btn-block mt-2" style="margin-right: 0;">پاک کردن فیلترها</a>
                                }
                                else
                                {
                                    <a href="javascript:void(0)" class="btn btn-sm btn-info text-white btn-block mt-2" id="reload" style="margin-right: 0;">پاک کردن فیلترها</a>
                                }
                                @*<button type="button" class="btn btn-sm btn-info text-white btn-block mt-2" onclick="reload()" style="margin-right: 0;">پاک کردن فیلتر قیمت</button>*@

                            </div>
                        </div>
                    </div>
                    @*@Html.Action("PriceSection", "Shop")*@
                    @Html.Action("ColorsSection", "Shop")
                    @Html.Action("NewProductSection", "Shop")
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Shop Section -->


@section script
{
    @if (ViewBag.MinPrice != null)
    {
        <script>
    var minPrice = @ViewBag.MinPrice ;
        </script>
    }
    @if (ViewBag.MaxPrice != null)
    {
        <script>
    var maxPrice = @ViewBag.MaxPrice ;
    //console.log(maxPrice)
    //console.log(minPrice)
        </script>
    }

    <script>
            /*===================================*
    10. PRICE FILTER JS
    *===================================*/

    $("#slider-range").slider({
        range: true,
        min: minPrice,
        max: maxPrice,
        values: [minPrice, maxPrice],
        slide: function (event, ui) {
            $("#amount").val("از" + ui.values[0] + "-تا" + ui.values[1]);

        }
    });
    $("#amount").val("از" + $("#slider-range").slider("values", 0) + "-تا" + $("#slider-range").slider("values", 1));


        //$("#setPrice").click(function () {
        //    var price = $("#amount").val().replace("از", "").replace("تا", "").split("-");

        //    window.location.href = "/Shop/SetPrice?min=" + price[0] + "&Max=" + price[1];
        //});
    </script>


    <script>
        const urlParams = new URLSearchParams(window.location.search);
        const page = urlParams.get('page');
        if (page == null) {
            var items = document.getElementsByClassName("pageNumber");
            for (var i = 0; i < items.length; i++) {
                if (items[i].textContent == 1) {
                    items[i].style.backgroundColor = '#2ab7ca';
                    items[i].style.color = '#fff';
                }
            }

        }
        else {
            var items = document.getElementsByClassName("pageNumber");
            for (var i = 0; i < items.length; i++) {
                if (items[i].textContent == page) {
                    items[i].style.backgroundColor = '#2ab7ca';
                    items[i].style.color = '#fff';
                    items[i].classList.add("active");
                }
            }
        }

        function myFunction() {
            const urlParams = new URLSearchParams(window.location.search);
            const page = urlParams.get('page');
            if (page == null) {
                var p = Number(1) + 1;
                window.location.href = '/Shop?page=' + p;
            }
            else {
                var p = Number(page) + 1;
                window.location.href = '/Shop?page=' + p;
            }
    }

                    function reload() {
                window.location = window.location.href.split("?")[0];
            }


        var pageCount = document.getElementsByClassName("pageNumber").length;
        if (Number(page) == pageCount) {
            document.getElementById("next").style.display = "none";
        }

    </script>

    <script>
        var brandIds = null;
        var groupIds = null;
        var productIds = null;
    </script>

    @if (ViewBag.brandIds != null)
    {
        <script>
            brandIds = "@ViewBag.BrandIds";
        </script>
    }
    @if (ViewBag.groupIds != null)
    {
        <script>
            groupIds = "@ViewBag.GroupIds";
        </script>
    }
    @if (ViewBag.productIds != null)
    {
        <script>
            productIds = "@ViewBag.ProductIds";
        </script>
    }
    <script>
        var selectedGroupId = @Model.SelectedGroupId;

        function GetGrid(page, groupId) {
            $("#preloader").show();
            var pageNumber = 1;
            if (page != null) {
                pageNumber = page;
            }
            var sort = $("#sort").find(":selected").val();
            var take = $("#take").find(":selected").val();
            var categoryId = groupId !== undefined ? groupId : null;
            categoryId = categoryId === null ? selectedGroupId : categoryId;
            var searchString =  '@ViewBag.SearchString';
            var brands = [];
            var price = $("#amount").val().replace("از", "").replace("تا", "").split("-");
            var priceFrom = price[0];
            var priceTo = price[1];

            //var selectedPriceRange = $("span#filter-price-range").text().replaceAll("تومان", "");
            //if (selectedPriceRange != undefined) {
            //    var priceRangeArr = selectedPriceRange.split('-');
            //     console.log(priceRangeArr);
            //    if (parseInt(priceRangeArr[0]) > 0) {
            //        priceFrom = parseInt(priceRangeArr[0]);
            //        console.log(priceFrom);
            //    }
            //    if (parseInt(priceRangeArr[1]) > 0) {
            //        priceTo = parseInt(priceRangeArr[1]);
            //        console.log(priceTo);
            //    }
            //}

            $("input[name='brands']").map(function() {
                if ($(this).prop("checked") === true) {
                    brands.push(parseInt($(this).val()));
                }
            });
            var subFeatures = [];
            $("[name='subFeatures']").map(function() {
                if ($(this).prop("checked") === true) {
                    subFeatures.push(parseInt($(this).val()));
                }
            });
            var grid = {
                categoryId: categoryId,
                searchString: searchString,
                priceFrom: priceFrom,
                priceTo: priceTo,
                brands: brands.join('-'),
                subFeatures: subFeatures.join('-'),
                pageNumber: pageNumber,
                take: take,
                sort: sort,
                BrandIds: brandIds,
                GroupIds: groupIds,
                ProductIds: productIds,
            }
            $.ajax({
                type: 'GET',
                url: '/Shop/ProductsGrid',
                data: grid,
                success: function(data) {
                    $("#grid").html(data);
                },
                error: function(data) {
                    console.log("error");
                    console.log(data);
                },
                complete: function() {
                    $("#preloader").fadeOut(1000);
                }
            });
        }

        $(document).ready(function() {
            GetGrid();

            //$("#filter-price-range").on('DOMSubtreeModified', function () {
            //    alert("Span HTML is now " + $(this).html());
            //    GetGrid();
            //});

            // Update Price Range
            $('#price-slider').mouseup(function () {
                GetGrid();
            });

            document.getElementById("reload").onclick = function() {reload()};


        });
                function reload() {
                window.location = window.location.href.split("?")[0];
            }

                    function CheckPriceUpdated() {
        var newMintxt = $('.from').text();
        var newMaxtxt = $('.to').text();

        var newMin = newMintxt.substring(1);
        var newMax = newMaxtxt.substring(1);

        if (newMin != minPrice || newMax != maxPrice) {
            minPrice = newMin;
            maxPrice = newMax;

            searchString = "";
            $('.search-field').val(searchString);

            submitForm();
        }
    }
    </script>
}