@model List<SpadStorePanel.Infrastructure.Dtos.Product.ProductWithPriceDto>
@{
    ViewBag.Title = "فروشگاه";
    Layout = "~/Views/Shared/LayoutClient.cshtml";
}

@Html.Action("HeaderShareSection", "Home")
<!-- Start Breadcrumbs Section -->
<section class="breadcrumbs-section background_bg" data-img-src="/pic/bg-4-1.png">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page_title text-center">
                    <h1>@ViewBag.Title</h1>
                    <ul class="breadcrumb justify-content-center">
                        <li><a href="/">صفحه اصلی</a></li>
                        <li><a href="#">@ViewBag.Title</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Start Shop Section -->
<section class="pt_large pb_large shop-inner-section">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 col-lg-8 col-md-12">
                <div class="row">
                    @foreach (var item in Model)
                    {
                        <div class="col-md-4 col-sm-6 border my-2">
                            <div class="product-box common-cart-box">
                                <div class="product-img common-cart-img">
                                    <img src="~/Files/ProductImages/Image/@item.Image" alt="product-img" style="height:300px;">
                                    <div class="hover-option">
                                        <div class="add-cart-btn">
                                            <a href="javascript:void(0)" onclick="AddToCart(@item.Id)" class="btn btn-primary">افزودن به سبد خرید</a>
                                        </div>
                                        <ul class="hover-icon">
                                            <li><a href="javascript:void(0)" onclick="wish(@item.Id)" class="product_@item.Id"><i class="fa fa-heart"></i></a></li>
                                            <li><a href="javascript:void(0)" onclick="AddToCompareList(@item.Id)" class="compare_@item.Id"><i class="fa fa-refresh"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="product-info common-cart-info text-center">
                                    @Html.ActionLink(item.ShortTitle, "Detail", "Shop", new { @id = item.Id }, new { @class = "cart-name" })
                                    <p class="cart-price"><del>@item.Price تومان</del>@item.PriceAfterDiscount تومان</p>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="row">
                    <div class="col-12">
                        <nav>
                            <ul class="pagination justify-content-center pt-2">
                                @{
                                    int c = @ViewBag.PageCount;
                                }
                                @for (int i = 0; i < c; i++)
                                {
                                    <li>
                                        @Html.ActionLink((i + 1).ToString(), "Index", "Shop", new { @page = i + 1 }, new { @class = "pageNumber" })
                                    </li>
                                }
                                @if (c != 0)
                                {
                                    <li><a onclick="myFunction()" id="next" aria-label="Next" style="color:#fff"><i class="fa fa-angle-right"></i></a></li>
                                }
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-12 order-lg-first">
                <div class="shop-sidebar">
                    @Html.Action("CategorySection", "Shop")
                    @Html.Action("PriceSection", "Shop")
                    @Html.Action("ColorsSection", "Shop")
                    @Html.Action("NewProductSection", "Shop")
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Shop Section -->


@section script
{
    <script>
        $("#setPrice").click(function () {
            var price = $("#amount").val().replace("از", "").replace("تا", "").split("-");
            window.location.href = "/Shop/SetPrice?min=" + price[0] + "&Max=" + price[1];
        });
    </script>


    <script>
        const urlParams = new URLSearchParams(window.location.search);
        const page = urlParams.get('page');
        if (page == null) {
            var items = document.getElementsByClassName("pageNumber");
            for (var i = 0; i < items.length; i++) {
                if (items[i].textContent == 1) {
                    items[i].style.backgroundColor = '#2ab7ca';
                    items[i].style.color = '#fff';
                }
            }

        }
        else {
            var items = document.getElementsByClassName("pageNumber");
            for (var i = 0; i < items.length; i++) {
                if (items[i].textContent == page) {
                    items[i].style.backgroundColor = '#2ab7ca';
                    items[i].style.color = '#fff';
                    items[i].classList.add("active");
                }
            }
        }

        function myFunction() {
            const urlParams = new URLSearchParams(window.location.search);
            const page = urlParams.get('page');
            if (page == null) {
                var p = Number(1) + 1;
                window.location.href = '/Shop?page=' + p;
            }
            else {
                var p = Number(page) + 1;
                window.location.href = '/Shop?page=' + p;
            }
        }


        var pageCount = document.getElementsByClassName("pageNumber").length;
        if (Number(page) == pageCount) {
            document.getElementById("next").style.display = "none";
        }

    </script>
}