@model List<SpadStorePanel.Infrastructure.Dtos.Product.ProductWithPriceDto>

@*<div class="product-section grid-view">
        @if (Model.Any())
        {
            <div class="row">
                @foreach (var item in Model)
                {
                    var discountTypeStr = ((int)item.DiscountType) == 1 ? "درصد" : "تومان";
                    <div class="col-lg-4 col-md-4 col-6">
                        <div class="product-item">
                            <a href="/Shop/Product/@item.Id">
                                <div class="product-image">
                                    @if (item.Price > 200000)
                                    {
                                        <div class="new-label" title="ارسال رایگان"><span><i class="fas fa-shipping-fast"></i></span></div>
                                    }
                                    <img class="cart-item-image" src="~/Files/ProductImages/Thumb/@item.Image" alt="@item.ShortTitle">
                                </div>
                            </a>
                            <div class="product-details-outer">
                                <div class="product-details">
                                    <div class="product-title">
                                        <a href="/Shop/Product/@item.Id">@item.ShortTitle </a>
                                    </div>

                                    <div class="price-section-wrapper">
                                        @if (item.DiscountAmount > 0)
                                        {
                                            <div class="sale-label-container">
                                                <div class="sale-label"><span>@item.DiscountAmount @discountTypeStr</span></div>
                                            </div>
                                        }
                                        <div class="price-wrapper">
                                            @if (item.Price == 0)
                                            {
                                                <a href="javascript:void(0)">-</a>
                                            }
                                            else if (item.PriceAfterDiscount < item.Price)
                                            {
                                                <del class="price old-price">@item.Price.ToString("##,###")</del>
                                                <span class="price">@item.PriceAfterDiscount.ToString("##,###") تومان</span>
                                            }
                                            else
                                            {
                                                <span class="price">@item.Price.ToString("##,###") تومان</span>
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="product-details-btn">
                                    <div class="hover-product-details">

                                        <div class="product-title">
                                            <a href="/Shop/Product/@item.Id">@item.ShortTitle</a>
                                        </div>


                                        <div class="price-section-wrapper">
                                            @if (item.DiscountAmount > 0)
                                            {
                                                <div class="sale-label-container">
                                                    <div class="sale-label"><span>@item.DiscountAmount @discountTypeStr</span></div>
                                                </div>
                                            }
                                            <div class="price-wrapper">
                                                @if (item.Price == 0)
                                                {
                                                    <a href="javascript:void(0)">-</a>
                                                }
                                                else if (item.PriceAfterDiscount < item.Price)
                                                {
                                                    <del class="price old-price">@item.Price.ToString("##,###")</del>
                                                    <span class="price">@item.PriceAfterDiscount.ToString("##,###") تومان</span>
                                                }
                                                else
                                                {
                                                    <span class="price">@item.Price.ToString("##,###") تومان</span>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                    @if (item.Price > 0 && item.PriceAfterDiscount > 0)
                                    {
                                        <a href="javascript:void(0)" onclick="AddToCart(@item.Id)" class="btn add-product-btn">اضافه کردن به سبد خرید</a>

                                    }
                                    else
                                    {
                                        <a href="tel:@ViewBag.CallForProductNumber.Title" class="btn add-product-btn" style="">تماس بگیرید</a>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
        else
        {
            <h4>محصولی یافت نشد</h4>
        }
    </div>
    <div class="shorting center-md">
        <div class="row">
            <div class="col-lg-6">
                <div class="pagination-bar">

                    <ul>
                        @{
                            if (ViewBag.CurrentPage > 1)
                            {
                                <li><a href="#" onclick="GetGrid(@(ViewBag.CurrentPage-1))"><i class="fa fa-angle-right"></i></a></li>
                            }
                            for (int i = 1; i <= ViewBag.PageCount; i++)
                            {
                                <li class="@(i == ViewBag.CurrentPage? "active":null)"><a href="#" onclick="GetGrid(@i)">@i</a></li>

                            }
                            if (ViewBag.CurrentPage < ViewBag.PageCount)
                            {
                                <li><a href="#" onclick="GetGrid(@(ViewBag.CurrentPage+1))"><i class="fa fa-angle-left"></i></a></li>

                            }
                        }
                    </ul>
                </div>
            </div>
            @*<div class="col-lg-6">
                    <div class="show-item left-side float-none-md">
                        <span class="float-none-md d-block">نمایش 1 از 15 صفحه</span>
                    </div>
                </div>*@@*
        </div>
    </div>*@


                @*<div class="products mb-3">
                        @if (Model.Any())
                        {
                            var i = 0;
                            <div class="row justify-content-center">
                                @foreach (var item in Model)
                                {
                                    i++;
                                    var discountTypeStr = ((int)item.DiscountType) == 1 ? "درصد" : "تومان";
                                    <div class="col-6 col-md-4 col-lg-4 col-xl-3">
                                        <div class="product product-7 text-center">
                                            <figure class="product-media">
                                                @if (item.DiscountAmount > 0)
                                                {
                                                    <span class="product-label label-sale">فروش ویژه</span>
                                                }

                                                @if (item.Price == 0)
                                                {
                                                    <span class="product-label label-out">ناموجود</span>
                                                }
                                                <a href="/Shop/Product/@item.Id">
                                                    <img width="200px" height="200px" src="~/Files/ProductImages/Thumb/@item.Image"
                                                         alt="@item.ShortTitle" class="product-image">
                                                </a>

                                                <div class="product-action-vertical">
                                                    <a href="javascript:void(0)" onclick="AddToWishList(@item.Id)"
                                                       class="btn-product-icon btn-wishlist btn-expandable">
                                                        <span>
                                                            افزودن
                                                            به لیست علاقه مندی
                                                        </span>
                                                    </a>
                                                    <a href="/Shop/Product/@item.Id"
                                                       class="btn-product-icon btn-quickview"
                                                       title="مشاهده سریع محصول"><span>مشاهده سریع</span></a>
                                                </div><!-- End .product-action-vertical -->

                                                <div class="product-action">
                                                    <a href="javascript:void(0)" onclick="AddToCart(@item.Id)" class="btn-product btn-cart">
                                                        <span>
                                                            افزودن به
                                                            سبد خرید
                                                        </span>
                                                    </a>
                                                </div><!-- End .product-action -->
                                            </figure><!-- End .product-media -->

                                            <div class="product-body">
                                                <h3 class="product-title text-center">
                                                    <a href="/Shop/Product/@item.Id">@item.ShortTitle</a>
                                                </h3><!-- End .product-title -->
                                                @if (item.DiscountAmount > 0)
                                                {
                                                    <div class="sale-label-container">
                                                        <div class="sale-label"><span>@item.DiscountAmount @discountTypeStr</span></div>
                                                    </div>
                                                }
                                                <div class="price-wrapper">
                                                    @if (item.Price == 0)
                                                    {
                                                        <a href="javascript:void(0)">-</a>
                                                    }
                                                    else if (item.PriceAfterDiscount < item.Price)
                                                    {
                                                        <del class="price old-price">@item.Price.ToString("##,###")</del>
                                                        <span class="product-price">@item.PriceAfterDiscount.ToString("##,###") تومان</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="product-price">@item.Price.ToString("##,###") تومان</span>
                                                    }
                                                </div>
                                                <div class="ratings-container">
                                                    <div class="ratings">
                                                        @{
                                                            var rate = (item.Rate < 6 ? item.Rate : 5);
                                                            rate = (rate > 0 ? rate : 0);
                                                            var ratingPercentage = (item.Rate * 100) / 5;
                                                        }
                                                        <div class="ratings-val" style="width: @ratingPercentage%;"></div>
                                                        <!-- End .ratings-val -->
                                                    </div><!-- End .ratings -->
                                                </div><!-- End .rating-container -->

                                            </div><!-- End .product-body -->
                                        </div><!-- End .product -->
                                    </div><!-- End .col-sm-6 col-lg-4 col-xl-3 -->

                                }


                            </div><!-- End .row -->
                        }
                        else
                        {
                            <h4>محصولی یافت نشد</h4>
                        }
                    </div><!-- End .products -->

                    <nav aria-label="Page navigation">
                        <ul class="pagination justify-content-center">
                            @{
                                if (ViewBag.CurrentPage > 1)
                                {
                                    <li class="page-item">
                                        <a class="page-link page-link-prev" href="#" onclick="GetGrid(@(ViewBag.CurrentPage-1))" aria-label="Previous" tabindex="-1"
                                           aria-disabled="true">
                                            <span aria-hidden="true"><i class="icon-long-arrow-right"></i></span>قبلی
                                        </a>
                                    </li>
                                }
                                for (int i = 1; i <= ViewBag.PageCount; i++)
                                {
                                    <li class="page-item @(i == ViewBag.CurrentPage? "active":null)" aria-current="page">
                                        <a class="page-link" href="#" onclick="GetGrid(@i)">@i</a>
                                    </li>
                                }
                                if (ViewBag.CurrentPage < ViewBag.PageCount)
                                {
                                    <li class="page-item">
                                        <a class="page-link page-link-next" href="#" onclick="GetGrid(@(ViewBag.CurrentPage+1))" aria-label="Next">
                                            بعدی <span aria-hidden="true"><i class="icon-long-arrow-left"></i></span>
                                        </a>
                                    </li>
                                }
                            }
                        </ul>
                    </nav>*@


                @if (Model.Any())
                {
    <div class="shop-options d-sm-flex justify-content-between align-items-center">
        <div class="sorting-option">
            <select class="sorting-items" onchange="GetGrid()" name="sort" id="sort">
                <option value="date" selected="selected">مرتب کردن بر اساس تاریخ ثبت</option>
                <option value="name">مرتب کردن بر اساس اسم محصول</option>
                <option value="price-high-to-low">مرتب کردن بر اساس قیمت از زیاد به کم</option>
                <option value="price-low-to-high">مرتب کردن بر اساس قیمت از کم به زیاد</option>
                <option value="sale">مرتب کردن بر اساس پر فروش ها</option>
            </select>
        </div>
        @*<div class="showing-items">
            <p>نمایش نتایج</p>
        </div>
        <div class="shop-list_grid">
            <div class="list_grid-btns">
                <a href="javascript:void(0)" class="list-view"><i class="ion-navicon-round"></i></a>
                <a href="javascript:void(0)" class="grid-view on"><i class="ion-grid"></i></a>
            </div>
        </div>*@
    </div>
                    <div class="row">
                        @foreach (var item in Model)
                        {
                            <div class="col-md-4 col-sm-6 border my-2">
                                <div class="product-box common-cart-box text-center">
                                    <div class="product-img common-cart-img">
                                        <img src="~/Files/ProductImages/Thumb/@item.Image" alt="product-img">
                                        <div class="hover-option">
                                            <div class="add-cart-btn">
                                                <a href="javascript:void(0)" onclick="AddToCart(@item.Id)" class="btn btn-primary">افزودن به سبد خرید</a>
                                            </div>
                                            <ul class="hover-icon">
                                                <li><a href="javascript:void(0)" onclick="wish(@item.Id)" class="product_@item.Id"><i class="fa fa-heart"></i></a></li>
                                                <li><a href="javascript:void(0)" onclick="AddToCompareList(@item.Id)" class="compare_@item.Id"><i class="fa fa-refresh"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <a href="/Shop/Detail/@item.Id" class="cart-name" id="@item.Id">
                                        <div class="product-info common-cart-info">
                                            @item.ShortTitle
                                            @*@Html.ActionLink(item.ShortTitle, "Detail", "Shop", new { @id = item.Id }, new { @class = "cart-name" })*@
                                            <p class="cart-price"><del>@item.Price تومان</del>@item.PriceAfterDiscount تومان</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        }
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <nav>
                                <ul class="pagination justify-content-center pt-2">
                                    @{
                                        int c = @ViewBag.PageCount;
                                    }
                                    @for (int i = 0; i < c; i++)
                                    {
                                        <li>
                                            @Html.ActionLink((i + 1).ToString(), "Index", "Shop", new { @page = i + 1 }, new { @class = "pageNumber" })
                                        </li>
                                    }
                                    @if (c != 0)
                                    {
                                        <li><a onclick="myFunction()" id="next" aria-label="Next" style="color:#fff"><i class="fa fa-angle-right"></i></a></li>
                                    }


                                </ul>
                            </nav>
                        </div>
                    </div>
                }
                else
                {
                    <h4>محصولی یافت نشد</h4>
                }


