@model SpadStorePanel.Web.ViewModels.SocialViewModel

<ul class="hover-icon box-social">
    <li><a href="@Model.Facebook"><i class="fa fa-facebook text-white"></i></a></li>
    <li><a href="@Model.twitter"><i class="fa fa-twitter text-white"></i></a></li>
    <li><a href="@Model.Linkdin"><i class="fa fa-linkedin text-white"></i></a></li>
    <li><a href="@Model.Pintrest"><i class="fa fa-pinterest-p text-white"></i></a></li>
    <li><a href="@Model.GooglePlus"><i class="fa fa-google-plus text-white"></i></a></li>
</ul>
