@model SpadStorePanel.Web.ViewModels.SocialViewModel

<ul class="hover-icon box-social">
    <li><a href="@Model.Facebook" target="_blank"><i class="fa fa-facebook text-white"></i></a></li>
    <li><a href="@Model.twitter" target="_blank"><i class="fa fa-twitter text-white"></i></a></li>
    <li><a href="@Model.Linkdin" target="_blank"><i class="fa fa-linkedin text-white"></i></a></li>
    <li><a href="@Model.Pintrest" target="_blank"><i class="fa fa-pinterest-p text-white"></i></a></li>
    <li><a href="@Model.GooglePlus" target="_blank"><i class="fa fa-google-plus text-white"></i></a></li>
</ul>
