@model SpadStorePanel.Web.ViewModels.CartModel


<li class="header-cart" id="cartSection">
    <a href="#">
        @{
            int i = 0;

            if (Model?.CartItems != null && Model.CartItems.Any())
            {
                foreach (var item in Model.CartItems)
                {
                    i+=@item.Quantity;
                }
            }
        }
        <div class="cart-icon">
            <i class="ion-ios-cart"></i>
            <span>@i</span>
        </div>
        سبد خرید
        <i class="fa fa-angle-down"></i>
    </a>
    <div class="cart-box cart_box_left">
        <div class="cart-info">
            @if (Model?.CartItems != null && Model.CartItems.Any())
            {
                foreach (var item in Model.CartItems)
                {
                    <div class="cart-prodect d-flex justify-content-between align-items-center">
                        <div class="cart-img">
                            <img src="~/Files/ProductImages/Thumb/@item.Image" alt="cart-img" />
                        </div>
                        <div class="cart-product">
                            <a href="#">@item.ProductName (@item.Quantity)</a>

                            <p>@item.Price.ToString("##,###") تومان</p>
                        </div>
                        <a href="javascript:void(0)" onclick="RemoveFromCart(@item.Id, @item.MainFeatureId, 'true')" class="close-icon d-flex align-items-center"><i class="ion-close"></i></a>
                    </div>
                }
            }
        </div>
        <div class="price-prodect d-flex align-items-center justify-content-between">
            <p class="total">جمع صورت حساب</p>
            <p class="total-price">@Model.TotalPrice.ToString("##,###") تومان</p>
        </div>
        <div class="cart-btn">
            <a href="/Shop/Cart" class="btn btn-primary">رفتن به سبد خرید</a>
        </div>
    </div>
</li>
