@model SpadStorePanel.Web.ViewModels.CheckoutForm


@*<div class="col-12 col-lg-8">
    <div class="mb-md-30">
        <div class="mb-60">
            <div class="row">
                <div class="col-12">
                    <div class="heading-part mb-30 mb-sm-20">
                        <h3>مشخصات مشتری</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Name, new { })*
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control " } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "form-text text-danger" })
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="form-group">
                        <label for="Email">آدرس ایمیل (اختیاری)</label>
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control " } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "form-text text-danger" })
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="form-group">
                        <label for="Email">آدرس ایمیل (اختیاری)</label>
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control " } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "form-text text-danger" })
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Phone, new { })*
                        @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control " } })
                        @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "form-text text-danger" })
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Address, new { })*
                        @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control " } })
                        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "form-text text-danger" })
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="form-group">
                        @Html.LabelFor(model => model.PostalCode, new { })*
                        @Html.EditorFor(model => model.PostalCode, new { htmlAttributes = new { @class = "form-control " } })
                        @Html.ValidationMessageFor(model => model.PostalCode, "", new { @class = "form-text text-danger" })
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="">
                        @Html.LabelFor(model => model.GeoDivisionId, "استان", new { })
                        @*Html.DropDownList("GeoDivisionId", null, htmlAttributes: new { @class = "form-control" })*@@*
                            @Html.DropDownListFor(model => model.GeoDivisionId, (IEnumerable<SelectListItem>)ViewBag.GeoDivisionIds, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.GeoDivisionId, "", new { @class = "form-text text-danger" })
                        </div>
                    </div>
                    @Html.EditorFor(model => model.DiscountCode, new { htmlAttributes = new { @type = "hidden", @readonly = "readonly" } })
                    @Html.EditorFor(model => model.InvoiceNumber, new { htmlAttributes = new { @type = "hidden", @readonly = "readonly" } })
                </div>
            </div>
            <button class="btn full btn-color">ثبت سفارش</button>
        </div>
    </div>*@
@*


                        <div class="col-lg-9">
                            <h2 class="checkout-title">جزئیات صورت حساب</h2><!-- End .checkout-title -->
                            <div class="row">
                                <div class="col-sm-12">
                                    @Html.LabelFor(model => model.Name, new { })*
                                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control " } })
                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "form-text text-danger" })
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-sm-6">
                                    @Html.LabelFor(model => model.CompanyName, new { })*
                                    @Html.EditorFor(model => model.CompanyName, new { htmlAttributes = new { @class = "form-control " } })
                                    @Html.ValidationMessageFor(model => model.CompanyName, "", new { @class = "form-text text-danger" })
                                </div>
                                <div class="col-sm-6">
                                    @Html.LabelFor(model => model.Country, new { })*
                                    @Html.EditorFor(model => model.Country, new { htmlAttributes = new { @class = "form-control ", @Value = "ایران" } })
                                    @Html.ValidationMessageFor(model => model.Country, "", new { @class = "form-text text-danger" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 ">
                                    @Html.LabelFor(model => model.GeoDivisionId, "استان", new { })
                                    @Html.DropDownListFor(model => model.GeoDivisionId, (IEnumerable<SelectListItem>)ViewBag.GeoDivisionIds, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.GeoDivisionId, "", new { @class = "form-text text-danger" })
                                </div>
                                <div class="col-sm-6">
                                    @Html.LabelFor(model => model.City, new { })*
                                    @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control " } })
                                    @Html.ValidationMessageFor(model => model.City, "", new { @class = "form-text text-danger" })

                                </div><!-- End .col-sm-6 -->

                            </div><!-- End .row -->
                            <div class="row">
                                <div class="col-sm-12">
                                    @Html.LabelFor(model => model.Address, new { })*
                                    @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control ", @placeholder = "نام خیابان و پلاک" } })
                                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "form-text text-danger" })
                                </div><!-- End .col-sm-12 -->

                            </div><!-- End .row -->

                            <div class="row">
                                <div class="col-sm-6">
                                    @Html.LabelFor(model => model.PostalCode, new { })*
                                    @Html.EditorFor(model => model.PostalCode, new { htmlAttributes = new { @class = "form-control " } })
                                    @Html.ValidationMessageFor(model => model.PostalCode, "", new { @class = "form-text text-danger" })
                                </div><!-- End .col-sm-6 -->

                                <div class="col-sm-6">
                                    @Html.LabelFor(model => model.Phone, new { })*
                                    @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control " } })
                                    @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "form-text text-danger" })
                                </div><!-- End .col-sm-6 -->
                            </div><!-- End .row -->
                            <div class="row">
                                <div class="col-sm-12">
                                    <label>ایمیل *</label>
                                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control " } })
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "form-text text-danger" })
                                </div>
                            </div>
                            @Html.LabelFor(model => model.Message, new { })
                            @Html.EditorFor(model => model.Message, new { htmlAttributes = new { @class = "form-control ", @placeholder = "شما میتوانید توضیحات اضافی خود را اینجا بنویسید" } })
                            @Html.ValidationMessageFor(model => model.Message, "", new { @class = "form-text text-danger" })

                            @Html.EditorFor(model => model.DiscountCode, new { htmlAttributes = new { @type = "hidden", @readonly = "readonly" } })
                            @Html.EditorFor(model => model.InvoiceNumber, new { htmlAttributes = new { @type = "hidden", @readonly = "readonly" } })
                        </div><!-- End .col-lg-9 -->
*@



                        <div class="card">
                            @*<div class="card-header form-wizard-step">
                                    <h5>
                                        <a class="btn btn-link"
                                           data-toggle="collapse"
                                           href="#collapseOne"
                                           aria-expanded="false"
                                           aria-controls="collapseOne"><span>1</span>اطلاعات خریدار</a>
                                    </h5>
                                </div>*@
                            <div id="collapseOne"
                                 class="collapse show"
                                 aria-labelledby="headingThree "
                                 data-parent="#accordion">
                                <div class="card-body">
                                    <div class="check-tab">
                                        <div class="checkout-form">
                                            <div class="row">
                                                <div class="form-group col-md-6">
                                                    @Html.LabelFor(model => model.Name, new { @class = "" })<span class="required_sign">*</span>
                                                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control required", @placeholder = "نام و نام خانوادگی خود را وارد کنید" } })
                                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "form-text text-danger" })
                                                </div>
                                                <div class="form-group col-md-6">
                                                    @Html.LabelFor(model => model.CompanyName, new { })
                                                    @Html.EditorFor(model => model.CompanyName, new { htmlAttributes = new { @class = "form-control", @placeholder = "نام شرکت خود را وارد کنید" } })
                                                    @Html.ValidationMessageFor(model => model.CompanyName, "", new { @class = "form-text text-danger" })
                                                </div>
                                                <div class="form-group col-md-6">
                                                    @Html.LabelFor(model => model.Email, new { })<span class="required_sign">*</span>
                                                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control required", @placeholder = "ایمیل خود را وارد کنید" } })
                                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "form-text text-danger" })
                                                </div>
                                                <div class="form-group col-md-6">
                                                    @Html.LabelFor(model => model.Phone, new { })<span class="required_sign">*</span>
                                                    @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control required", @placeholder = "شماره تماس خود را وارد کنید" } })
                                                    @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "form-text text-danger" })
                                                </div>
                                                <div class="form-group col-md-6">
                                                    @Html.LabelFor(model => model.Country, new { })<span class="required_sign">*</span>
                                                    @Html.EditorFor(model => model.Country, new { htmlAttributes = new { @class = "form-control required", @Value = "ایران" } })
                                                    @Html.ValidationMessageFor(model => model.Country, "", new { @class = "form-text text-danger" })
                                                </div>
                                                <div class="form-group col-md-6">
                                                    @Html.LabelFor(model => model.GeoDivisionId, "استان", new { })<span class="required_sign">*</span>
                                                    @Html.DropDownListFor(model => model.GeoDivisionId, (IEnumerable<SelectListItem>)ViewBag.GeoDivisionIds, new { @class = "form-control required", @placeholder = "نام استان خود را وارد کنید" })
                                                    @Html.ValidationMessageFor(model => model.GeoDivisionId, "", new { @class = "form-text text-danger" })
                                                </div>
                                                <div class="form-group col-md-6">
                                                    @Html.LabelFor(model => model.City, new { })<span class="required_sign">*</span>
                                                    @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control required", @placeholder = "نام شهر خود را وارد کنید" } })
                                                    @Html.ValidationMessageFor(model => model.City, "", new { @class = "form-text text-danger" })
                                                </div>
                                                <div class="form-group col-md-6">
                                                    @Html.LabelFor(model => model.PostalCode, new { })<span class="required_sign">*</span>
                                                    @Html.EditorFor(model => model.PostalCode, new { htmlAttributes = new { @class = "form-control required", @placeholder = "کد پستی خود را وارد کنید" } })
                                                    @Html.ValidationMessageFor(model => model.PostalCode, "", new { @class = "form-text text-danger" })
                                                </div>
                                                <div class="form-group col-md-12">
                                                    @Html.LabelFor(model => model.Address, new { })<span class="required_sign">*</span>
                                                    @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control required", @placeholder = "آدرس خود را وارد کنید" } })
                                                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "form-text text-danger" })
                                                </div>
                                                <div class="form-group col-md-12">
                                                    @Html.LabelFor(model => model.Message, new { })
                                                    @Html.EditorFor(model => model.Message, new { htmlAttributes = new { @class = "form-control ", @placeholder = "شما میتوانید توضیحات اضافی را اینجا بنویسید" } })
                                                    @Html.ValidationMessageFor(model => model.Message, "", new { @class = "form-text text-danger" })
                                                </div>

                                                @Html.EditorFor(model => model.DiscountCode, new { htmlAttributes = new { @type = "hidden", @readonly = "readonly" } })
                                                @Html.EditorFor(model => model.InvoiceNumber, new { htmlAttributes = new { @type = "hidden", @readonly = "readonly" } })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <script>
                            $.validator.unobtrusive.parse("#form");
                        </script>


