@model SpadStorePanel.Web.ViewModels.WishListModel


@*<table class="table border mb-0">
    <thead>
        <tr>
            <th>تصویر</th>
            <th>نام محصول</th>
            <th>حذف</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.WishListItems != null)
        {
            foreach (var item in Model.WishListItems)
            {
                <tr>
                    <td>
                        <a href="/Shop/Product/@item.Id">
                            <div class="product-image">
                                <img alt="@item.ProductName" src="/Files/ProductImages/Thumb/@item.Image">
                            </div>
                        </a>
                    </td>
                    <td>
                        <div class="product-title">
                            <a href="product-page.html">@item.ProductName</a>
                        </div>
                    </td>



                    <td>
                        <a href="javascript:void(0)" class="btn small btn-color" onclick="removeFromWishList(@item.Id)">
                            <i title="Remove Item From Cart" data-id="100" class="fa fa-trash cart-remove-item"></i>
                        </a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>*@


<table class="table table-wishlist table-mobile">
    <thead>
        <tr>
            <th>محصول</th>
            <th>قیمت</th>
            <th>وضعیت محصول</th>
            <th></th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @if (Model.WishListItems != null)
        {
            foreach (var item in Model.WishListItems)
            {
                <tr>
                    <td class="product-col">
                        <div class="product">
                            <figure class="product-media">
                                <a href="/Shop/Product/@item.Id">
                                    <img width="60px" height="60px" src="/Files/ProductImages/Thumb/@item.Image" alt="@item.ProductName">
                                </a>
                            </figure>

                            <h3 class="product-title">
                                <a href="/Shop/Product/@item.Id">@item.ProductName</a>
                            </h3><!-- End .product-title -->
                        </div><!-- End .product -->
                    </td>
                    <td class="price-col">
                        @{
                            if (item.MinPrice != 0)
                            {
                                <span class="lynessa-Price-amount amount">
                                    @item.MinPrice.ToString("##,###")
                                </span>
                            }
                            if (item.MaxPrice != 0 && item.MaxPrice != item.MinPrice)
                            {
                                <text> – </text>
                                <span class="lynessa-Price-amount amount">
                                    @item.MaxPrice.ToString("##,###")
                                </span>
                            }
                        }
                        تومان
                    </td>
                    @if (item.Quantity > 0)
                    {
                        <td class="stock-col"><span class="in-stock">موجود</span></td>
                    }
                    else
                    {
                        <td class="stock-col"><span class="out-of-stock">نا موجود</span></td>
                    }
                    <td class="action-col">
                        <a class="btn btn-block btn-outline-primary-2" href="/Shop/Product/@item.Id">مشاهده محصول و خرید</a>
                        @*<div class="dropdown">
                            <button class="btn btn-block btn-outline-primary-2" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                <i class="icon-list-alt"></i>انتخاب گزینه ها
                            </button>

                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">گزینه 1</a>
                                <a class="dropdown-item" href="#">گزینه 2</a>
                                <a class="dropdown-item" href="#">گزینه 3</a>
                            </div>
                        </div>*@
                    </td>
                    <td class="remove-col text-left">
                        @*<button class="btn-remove">
                            <i class="icon-close"></i>
                        </button>*@
                        <a href="javascript:void(0)" class="btn-remove" onclick="removeFromWishList(@item.Id)">
                            <i class="icon-close"></i>
                        </a>
                    </td>
                </tr>
            }
        }
                @*<tr>
                    <td class="product-col">
                        <div class="product">
                            <figure class="product-media">
                                <a href="#">
                                    <img width="60px" height="60px" src="/Content/client/pic/p4.jpg" alt="تصویر محصول">
                                </a>
                            </figure>

                            <h3 class="product-title">
                                <a href="#">محصول</a>
                            </h3><!-- End .product-title -->
                        </div><!-- End .product -->
                    </td>
                    <td class="price-col">76,000 تومان</td>
                    <td class="stock-col"><span class="in-stock">موجود</span></td>
                    <td class="action-col">
                        <button class="btn btn-block btn-outline-primary-2">
                            <i class="icon-cart-plus"></i>افزودن به سبد خرید
                        </button>
                    </td>
                    <td class="remove-col text-left">
                        <button class="btn-remove">
                            <i class="icon-close"></i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td class="product-col">
                        <div class="product">
                            <figure class="product-media">
                                <a href="#">
                                    <img width="60px" height="60px" src="/Content/client/pic/p8.jpg" alt="تصویر محصول">
                                </a>
                            </figure>

                            <h3 class="product-title">
                                <a href="#">محصول</a>
                            </h3><!-- End .product-title -->
                        </div><!-- End .product -->
                    </td>
                    <td class="price-col">52,000 تومان</td>
                    <td class="stock-col"><span class="out-of-stock">ناموجود</span></td>
                    <td class="action-col">
                        <button class="btn btn-block btn-outline-primary-2 disabled">ناموجود</button>
                    </td>
                    <td class="remove-col text-left">
                        <button class="btn-remove">
                            <i class="icon-close"></i>
                        </button>
                    </td>
                </tr>*@
            </tbody>
</table><!-- End .table table-wishlist -->
