@{
    ViewBag.Title = "لیست علاقه مندی";
    Layout = "~/Views/Shared/LayoutClient.cshtml";
}
@*<div class="contant">
        <div id="banner-part" class="banner inner-banner">
            <div class="container">
                <div class="bread-crumb-main">
                    <h1 class="banner-title">علاقه مندی ها</h1>
                    <div class="breadcrumb">
                        <ul class="inline">
                            <li><a href="/">خانه</a></li>
                            <li>علاقه مندی ها</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="ptb-100">
            <div class="container">
                <div class="cart-item-table commun-table">
                    <div class="table-responsive" id="WishListTable">
                        @Html.Action("WishListTable", "Shop")
                    </div>
                </div>
            </div>
        </div>
    </div>*@

@Html.Action("HeaderShareSection", "Home")
<!-- Start Breadcrumbs Section -->
<section class="breadcrumbs-section background_bg" data-img-src="/pic/bg-4-1.png">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page_title text-center">
                    <h1>@ViewBag.Title</h1>
                    <ul class="breadcrumb justify-content-center">
                        <li><a href="/Shop">فروشگاه</a></li>
                        <li><a href="#">@ViewBag.Title</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>




        <div class="container">
            <section class="cart-section pt_large">
                <div class="cart-table table-responsive" id="wishListTablePage">
                    @Html.Action("WishListTablePage", "Cookie")
                </div>


                <div class="wishlist-share">
                    @*@Html.Action("SocialsSection", "Shop")*@
                </div><!-- End .wishlist-share -->
            </section>
        </div><!-- End .container -->