@model SpadStorePanel.Web.ViewModels.WishListModel


@*<table class="table border mb-0">
        <thead>
            <tr>
                <th>تصویر</th>
                <th>نام محصول</th>
                <th>حذف</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.WishListItems != null)
            {
                foreach (var item in Model.WishListItems)
                {
                    <tr>
                        <td>
                            <a href="/Shop/Product/@item.Id">
                                <div class="product-image">
                                    <img alt="@item.ProductName" src="/Files/ProductImages/Thumb/@item.Image">
                                </div>
                            </a>
                        </td>
                        <td>
                            <div class="product-title">
                                <a href="product-page.html">@item.ProductName</a>
                            </div>
                        </td>



                        <td>
                            <a href="javascript:void(0)" class="btn small btn-color" onclick="removeFromWishList(@item.Id)">
                                <i title="Remove Item From Cart" data-id="100" class="fa fa-trash cart-remove-item"></i>
                            </a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>*@

@if (Model.WishListItems != null)
{
    <table class="table table-bordered text-center">
        <thead>
            <tr>
                <th>تصویر</th>
                <th>نام محصول</th>
                <th>قیمت</th>
                <th>وضعیت محصول</th>
                <th></th>
                <th></th>
            </tr>
        </thead>

        <tbody>

            @foreach (var item in Model.WishListItems)
            {
                <tr>
                    <td class="product-col">
                        <div class="product">
                            <figure class="product-media">
                                <a href="/Shop/Product/@item.Id">
                                    <img width="60px" height="60px" src="/Files/ProductImages/Thumb/@item.Image" alt="@item.ProductName">
                                </a>
                            </figure>
                        </div><!-- End .product -->
                    </td>
                    <td class="product-col">
                        <div class="product">
                            <p class="">
                                <a href="/Shop/Product/@item.Id">@item.ProductName</a>
                            </p><!-- End .product-title -->
                        </div><!-- End .product -->
                    </td>
                    <td class="price-col">
                        @{
                            if (item.MinPrice != 0)
                            {
                                <span class="lynessa-Price-amount amount">
                                    @item.MinPrice.ToString("##,###")
                                </span>
                            }
                            if (item.MaxPrice != 0 && item.MaxPrice != item.MinPrice)
                            {
                                <text> – </text>
                                <span class="lynessa-Price-amount amount">
                                    @item.MaxPrice.ToString("##,###")
                                </span>
                            }
                        }
                        تومان
                    </td>
                    @if (item.Quantity > 0)
                    {
                        <td class="stock-col"><span class="in-stock">موجود</span></td>
                    }
                    else
                    {
                        <td class="stock-col"><span class="out-of-stock">نا موجود</span></td>
                    }
                    <td class="action-col">
                        <a class="btn-primary" href="/Shop/Detail/@item.Id">مشاهده محصول و خرید</a>
                        @*<div class="dropdown">
                                <button class="btn btn-block btn-outline-primary-2" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                    <i class="icon-list-alt"></i>انتخاب گزینه ها
                                </button>

                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">گزینه 1</a>
                                    <a class="dropdown-item" href="#">گزینه 2</a>
                                    <a class="dropdown-item" href="#">گزینه 3</a>
                                </div>
                            </div>*@
                    </td>
                    <td class="row-close close-2">
                        @*<button class="btn-remove">
                                <i class="icon-close"></i>
                            </button>*@
                        <a href="javascript:void(0)" onclick="removeFromWishList(@item.Id)">
                            <i class="ion-close-circled"></i>
                        </a>
                    </td>
                </tr>

            }

            <tr>
                <td colspan="12">
                    <a href="/Shop" class="btn btn-secondary"><i class="fa fa-chevron-left"></i>ادامه خرید </a>
                </td>
            </tr>

        </tbody>
    </table><!-- End .table table-wishlist -->
}
else
{
    <h4 style="margin: 0 auto;text-align:center"><a href="/Shop" class="btn btn-primary btn-block rounded-0">لیست علاقه مندی های شما خالی است <br /> بازگشت به فروشگاه</a></h4>

}
