@model List<SpadStorePanel.Web.ViewModels.ProductViewModel>

<section class="new-collection-section section-shadow bg-white">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="title">
                    <h4>محصولات محبوب </h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="carousel_slide6 products-style-2 nav-style-2 owl-carousel owl-theme" data-margin="30"
                     data-dots="false" data-autoplay="false" data-nav="true" data-loop="false">
                    @foreach (var item in Model)
                    {
                        <div class="item">
                            <div class="product-box common-cart-box">
                                <div class="product-img common-cart-img">
                                        <img src="~/Files/ProductImages/Thumb/@item.Product.Image" alt="product-img" style="" />
                                    <div class="hover-option">
                                        <ul class="hover-icon">
                                            <li>
                                                <a href="javascript:void(0)" onclick="AddToCart(@item.Product.Id)"><i class="fa fa-shopping-cart"></i></a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)" onclick="wish(@item.Product.Id)" class="product_@item.Product.Id"><i class="fa fa-heart"></i></a>
                                            </li>
                                            <li>
                                                <a href="#test-popup3" class="quickview-popup-link" onclick="GetPopup(@item.Product.Id)"><i class="fa fa-eye"></i></a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)" onclick="AddToCompareList(@item.Product.Id)" class="compare_@item.Product.Id"><i class="fa fa-refresh"></i></a>
                                            </li>
                                        </ul>
                                        @*<ul class="product-color">
                    @foreach (var x in item.ProductMainFeatures)
                    {
                        <li>
                            <a href="#" style="background-color:@x.Value"></a>
                        </li>
                    }
                </ul>*@
                                    </div>
                                </div>
                                <a href="/Shop/Detail/@item.Product.Id" class="cart-name">
                                    <div class="product-info common-cart-info">
                                        @item.Product.ShortTitle

                                        <div class="product-rate">
                                            @for (int i = 0; i < item.Product.Rate; i++)
                                            {
                                                <i class="ion-android-star"></i>
                                            }
                                        </div>

                                        <p class="cart-price"><del>@item.Product.Price تومان</del>@item.Product.PriceAfterDiscount تومان</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>